body {
    background: #f2f6ff;
    font-family: 'Segoe UI', sans-serif;
}

.hero img {
    border-radius: 20px;
}

.feature-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0849b3;
}

.list-group-item {
    font-size: 16px;
}

.card-img-top {
    width: 100%;
    height: 240px;   
    object-fit: cover;
    border-radius: 8px;
}